:root {
    --main-c: #fdd72d;
    --border-r: .2rem;
}

/** Estilos Generales **/

html * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.wrap-cta {
    padding: 1.5rem 0;
}

.cta-a {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

/** Header **/

/*Nav*/

/* Estilos para pantallas grandes */

.hamburger {
    position: fixed;
    background-color: transparent;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s
      cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamburger.is-active {
    background-color: none;
  }
  ._layer {
    background: #333333;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .hamburger:hover .-bottom {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
  }
  .hamburger.is-active .-mid {
    opacity: 0;
  }
  .hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
  }
  
  .menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
  }
  .menuppal {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(15px);
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
    height: 40px;
  }
  .menuppal ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .logo{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 1.5rem;
    color: wheat;
    cursor: pointer;
  }
  .menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: Verdadna, Arial, Helvetica;
    color: green;
    font-size: 1.5rem;
    color: #369;
    text-transform: none;
    font-weight: bold;
    margin-right: 15px;
  }
  .menuppal ul li a {
    text-decoration: none;
    color: #369;
  }
  .menuppal ul li a:hover {
    text-decoration: none;
    color: #05bfee;
  }
  
 /* Estilos para dispositivos móviles (menú hamburguesa) */
 @media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .menuppal {
        display: block;
        transform: translate3d(0px, -100%, 0px);
        height: 100%;        bottom: 0;
        overflow-y: scroll;
    }

    .menuppal, ul, li{
flex-direction: column;
line-height: 5em;
    }
}

/* Estilos para pantallas más grandes (menú normal) */
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
    .menuppal {
        transform: translate3d(0px, 0px, 0px);
    }

    .menuppal ul li a {
        font-size: 1rem;
    }
}



/** Hero Section **/

.hero-section {
    height: 90vh;
    background: url(img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(96, 98, 99, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

.wrap-hero-section {
    max-width: 600px;
    color: #fff;
    padding: 15%;
}

/** Logo Brand Section **/
.secetion {
    margin: 5rem 0;
}

.section h2 {
    padding: 2rem 0;
}

.wrap-logos-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo-brand {
    width: 200px;
    padding: 1rem 2rem;
    filter: grayscale(1);
}

.logo-brand:hover {
    filter: grayscale(0);
    background-color: aquamarine;
}

/** Wrap Title **/

.wrap-title-section {
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
}

/** Servicios Section **/

.servicios-section{
    background: rgb(252, 237, 210);
}

.wrap-servicios-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item-servicios-section {
    padding: 1rem;
}

.item-servicios-section p {
    text-align: center;
    color: rgb(197, 0, 138);
}


.item-servicios-section img {
    width: 300px;
    height: 225px;
}

/** Two Columns Section **/
.caracteristica {
    background-color: wheat;
}
.wrap-two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.wrap-img_two-column {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


.wrap-img_two-column img {
    width: 100%;
}

@media (max-width: 768px){
    .none  {
        display: block;
        flex-direction: row;

      
    }
}

.wrap-text-column h3 {
    padding: 2rem 0;
}

.wrap-text-column p {
    padding-bottom: 1rem;
}

/** Form Section **/

section.two-column-section.form {
    background-color: rgb(241, 184, 77);
    padding: 3rem 0;
}

section.two-column-section.form img {
    width: 100%;
}

.form input,
.form textarea {
    display: flex;
    width: 100%;
    line-height: 1.75rem;
    border: 1.5px solid #fff;
    border-radius: var(--border-r);
}

.form textarea {
    min-height: 200px;
}

input[type="submit"] {
    border: 0;
    display: inline;
    cursor: pointer;
}

/** Footer **/

.footer-section {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-footer-section {
    padding: 1rem 0;
}

.wrap-social-logos ul,
.wrap-menu-footer-section ul {
    display: flex;
    justify-content: center;
}

.social-logo {
    max-width: 75px;
    width: 100%;
    padding: 1rem;
}

.wrap-menu-footer-section ul li {
    font-size: 1.1rem;
    padding: 1.5rem;
}

.footer-creds {
    display: flex;
    justify-content: center;
}